@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 3rem;
}
body {
  height: 100vh;
  background: url(https://pbs.twimg.com/media/FFGGBkjWUBQQz5E.jpg) no-repeat;
  background-size: 100% 100%;
}

.logo {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.box1 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  height: 20rem;
  justify-content: space-around;
}

.box1 > textarea,
.box2 > input {
  height: 10rem;
  background: rgba(39, 39, 39, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  resize: none;
  padding: 1rem;
  color: rgb(247, 192, 12);
  font-family: 'JetBrains Mono', monospace;
}

textarea:focus,
input:focus {
  outline: none;
}

.box1 > label {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

.btn {
  display: flex;
  justify-content: space-around;
}
.btn > button {
  all: unset;
  background: rgba(39, 39, 39, 0.6);
  color: #fff;
  font-family: "Poppins", sans-serif;
  height: 2.5rem;
  width: 50%;
  display: flex;
  margin: .25rem;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.btn > button:hover {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.25s ease-in-out;
}

.box2 {
  height: 4rem;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.box2 > input {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'JetBrains Mono', monospace;
}

::placeholder {
  color: rgb(247, 192, 12);
}
